
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0px;
    background: #050505;
    font-family:"Consolas",serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-div{
    background-color: rgba(15, 16, 17, 0.9);
    padding:15px;
    color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0px 0px 20px #000000;
}

.menu {
    float: left;
    width: 15%;
    height: auto;
    background: transparent;
    padding: 20px;
    padding-top: 13px;
    color: white;
    text-align: center;
}
.menuitem {
    margin-top: 2px;
    height: 30px;
    font-size: 15px;
    text-align: left;
    line-height: 10px;
    background: #94d600;
    border-radius: 2px;
    color: black;
    padding: 10px;
    padding-left: 50px;
}

.menuitem:hover{
    background: #00ff12;
    color: #080808;
    cursor: pointer;
}

.menux {
    float: left;
    width: 15%;
    height: auto;
    background: transparent;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px ;
    margin-right: 0px;
    position: fixed
}
.menuitemx {
    margin-top: 2px;
    height: 30px;
    font-size: 15px;
    text-align: left;
    line-height: 10px;
    border-radius: 2px;
    color: black;
    padding: 10px;
    padding-left: 50px;
    background:#ffc800;
}

.menuitemx:hover{
    background: #ffa600;
    color: #080808;
    cursor: pointer;
}

.main {
    float: left;
    width: 63%;
    padding: 0px 0px;
    overflow: hidden;
    background: rgba(42, 42, 42, 0.9);
    color: white;
    margin-top: 120px;
    margin-right: 5px;
}
.right {
    background-color: #222222;
    float: left;
    width: 21%;
    height: auto;
    padding: 10px 15px;
    margin-top: 7px;
    color: #f1f1f1;
}

.main-div-p {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 18fr 2fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    vertical-align: center;
    grid-row-gap: 0px;
}

.md-1 { grid-area: 1 / 1 / 2 / 2; text-align: center;}
.md-2 {
    grid-area: 1 / 2 / 2 / 3;
    font-family:"Consolas",serif;
    text-align: center;
    color: #91d300;
}
.md-3 {
    grid-area: 1 / 3 / 2 / 5;
    vertical-align: center;
    height: 20px;
    line-height: 20px;
    padding: 15px;
    color: lime;
    font-family:"Consolas",serif;

}
.md-4 { grid-area: 1 / 5 / 2 / 6; }

.main-p {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.m-1 {
    grid-area: 2 / 1 / 6 / 4;
    padding: 20px;
}
.m-2 {
    grid-area: 2 / 4 / 6 / 6;
    padding: 20px;
}
.m-3 {
    grid-area: 1 / 1 / 2 / 3;
    padding: 20px;
    background: url(../images/LltUGPk.gif);
    width: 500px;
    -webkit-transform: scale(1);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: brightness(50%);


}

.m-3:hover .m6 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
    animation-name: brightnessfade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-filter: blur(5px);
    -webkit-filter: brightness(10%);
    z-index: 0;
}

.m6{
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-filter: brightness(100%);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.m-4 {
    grid-area: 1 / 3 / 2 / 6;
    padding: 10px;
    padding-left: 0px;
    background: #00ae0f;
    padding-bottom: 10px;
}
.m-5 {
    width: 100%;
    grid-area: 2 / 4 / 5 / 6;
    padding: 20px;
}
.m-6 {
    grid-area: 5 / 4 / 6 / 6;
    padding: 20px;
}
.m-7 {
    grid-area: 2 / 1 / 4 / 4;
    padding: 0px;
}
.m-8 {
    grid-area: 4 / 1 / 6 / 4;
    padding: 20px;
}

.m-7-p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.m7-1 {

    grid-area: 1 / 1 / 2 / 6;
    height: auto;

}
.m7-1:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.m7-2 {
    height: auto;
    grid-area: 2 / 1 / 3 / 6;
    background: #080808;
}

.m7-2:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.m7-3 {
    height: auto;
    grid-area: 3 / 1 / 4 / 6;
}

.m7-3:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.m7-4 {
    height: auto;
    grid-area: 4 / 1 / 5 / 6;
    background: #080808;
}

.btn:hover{
    cursor: pointer;
}

.m7-4:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.phase{
    float: left;
    width: 20%;
    height: auto;
    background: transparent;
    padding: 10px;
    color: white;
    text-align: center;
}

.phase-level{
    margin-top: 2px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 10px;
    background: #94d600;
    border-radius: 2px;
    color: black;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.phase-level:hover{
    background: #00ff12;
    color: #080808;
    cursor: pointer;
}


.solvers{
    float: left;
    width: auto;
    height: auto;
    background: transparent;
    padding: 20px;
    padding-top: 13px;
    color: white;
    text-align: center;
}

.solvers-level{
    margin-top: 2px;
    height: 30px;
    font-size: 12px;
    text-align: left;
    line-height: 10px;
    background: transparent;
    border-radius: 2px;
    color: #00a8ba;
    padding: 10px;
}

.solvers-level:hover{
    background: #007bff;
    color: #080808;
    cursor: pointer;
}



.likes{
    float: left;
    width: auto;
    height: auto;
    padding: 10px;
    padding-top: 13px;
    color: white;
    background: #1d1d1d;
    text-align: center;
}

.likes-level{
    margin-top: 2px;
    height: 30px;
    font-size: 12px;
    text-align: left;
    line-height: 10px;
    border-radius: 2px;
    color: #2ECC71;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.likes-level:hover{
    background: #585659;
    color: #080808;
    cursor: pointer;
}



.dislikes{
    float: left;
    width: auto;
    height: auto;
    background: transparent;
    padding: 10px;
    padding-top: 13px;
    color: white;
    text-align: center;
}

.dislikes-level{
    margin-top: 2px;
    height: 30px;
    font-size: 12px;
    text-align: left;
    line-height: 10px;
    background: transparent;
    border-radius: 2px;
    color: #E74C3C;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.dislikes-level:hover{
    background: #585659;
    color: #220b09;
    cursor: pointer;
}

.run{
    float: left;
    width: auto;
    height: auto;
    background: transparent;
    padding: 20px;
    padding-top: 13px;
    color: white;
    background: #0f0f0f;
    text-align: center;
}

.run-level{
    height: 30px;
    font-size: 15px;
    text-align: left;
    line-height: 5px;
    background: transparent;
    border-radius: 2px;
    color: #b0b2aa;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
}




.flags{
    float: left;
    width: auto;
    height: auto;
    background: transparent;
    padding-top: 13px;
    color: white;
    background: #161616;
    text-align: center;
}

.flags-level{
    height: 30px;
    font-size: 15px;
    text-align: left;
    line-height: 5px;
    background: transparent;
    border-radius: 2px;
    color: #b0b2aa;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.description{
    float: start;
    padding: 20px;
    height: auto;
    color: white;
    background: #323232;
    text-align: center;

    display: flex;
    flex-direction: row;
    width: 100%;
}

.level{
    flex: 1;
}

.hack_btn{
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 10px;
    background: #ff4300;
    border-radius: 2px;
    color: #f4f4f4;
    padding: 10px;
}

.hack_btn:hover{
    background-color: #00ff05;
    color: #080808;
    cursor: pointer;
}

.hack_btn:active{
    background-color: #fff800;
}


@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }
    .right {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
        height: auto;
    }
}

@font-face {
    font-family: ZombieFont;
    src: url(Zombie_Queen.ttf);
}


@font-face {
    font-family: Zombiebranch;
    src: url(zombie-holocaust.regular.ttf);
}

@keyframes brightnessfade {
    0%   {
        filter: brightness(20);
        filter: contrast(20);
        -webkit-filter: brightness(20);
        -webkit-filter: contrast(20);
        opacity: 0.7;

    }
    50%  {
        filter: brightness(10);
        filter: contrast(10);
        -webkit-filter: brightness(10);
        -webkit-filter: contrast(10);
        opacity: 1;
    }
    100% {
        filter: brightness(20);
        filter: contrast(20);
        -webkit-filter: brightness(20);
        -webkit-filter: contrast(20);
        opacity: 0.6;
    }
}
@keyframes colorrandom {
    0%   {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));

    }
    50%  {
        background: black;

    }
    75% {
        background: #ff0023;

    }
    100% {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));

    }
}